<div class="row">
    <div class="col-md-6">
        <span class="flex flex-row flex-nowrap">
            <h3 class="d-inline me-3">Net Current</h3>
            <a href="#" title="Data History" aria-label="Data History">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi mb-2" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M0 0h1v15h15v1H0zm14.817 3.113a.5.5 0 0 1 .07.704l-4.5 5.5a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61 4.15-5.073a.5.5 0 0 1 .704-.07"/></svg>
            </a>
        </span>
        <dl>
            <dt class="fs-5">{{ device.current_label }}</dt>
            <dd>
                <div class="progress rounded-start-4 rounded-end-4" style="height: 30px;">
                    <div class="progress-bar {{ device.current_class }}" role="progressbar" style="width: 100%;" aria-valuenow="{{ device.current }}" aria-valuemin="0" aria-valuemax="?">
                        <span class="progress-text fs-4 fw-bolder">{{ device.current }}</span>
                    </div>
                </div>
            </dd> 
        </dl>
    </div>
    <hr class="border border-3">
    <div class="col-md-6">
        <h3>Voltages</h3>
        <dl>
            <dt class="fs-5">Total Voltage</dt>
            {% if device.total_volts %}
                <dd>
                    <div class="progress rounded-start-4 rounded-end-4" style="height: 30px;">
                        <div class="progress-bar {{ device.total_volts_class }}" role="progressbar" style="width: {{ device.total_volts_percentage }}%;" aria-valuenow="{{ device.total_volts }}" aria-valuemin="0" aria-valuemax="24">
                            <span class="progress-text fs-4 fw-bolder">{{ device.total_volts }}v</span>
                        </div>
                    </div>
                </dd>
            {% endif %}
            <hr>
            <div class="row">
                <div class="col-6">
                    {% if device.cell_voltages %}
                        {% for cell in device.cell_voltages_a %}
                            <dt class="fs-5">Cell {{ cell.index }}</dt>
                            <dd>
                                <div class="progress">
                                    <div class="progress-bar {{ cell.class }}" role="progressbar" style="width: {{ cell.percentage }}%;" aria-valuenow="cell.volts" aria-valuemin="0" aria-valuemax="3.5">
                                        <span class="progress-text fs-6 fw-bolder">{{ cell.volts }}v</span>
                                    </div>
                                </div>
                            </dd>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col-6">
                    {% if device.cell_voltages %}
                        {% for cell in device.cell_voltages_b %}
                            <dt class="fs-5">Cell {{ cell.index }}</dt>
                            <dd>
                                <div class="progress">
                                    <div class="progress-bar {{ cell.class }}" role="progressbar" style="width: {{ cell.percentage }}%;" aria-valuenow="cell.volts" aria-valuemin="0" aria-valuemax="3.5">
                                        <span class="progress-text fs-6 fw-bolder">{{ cell.volts }}v</span>
                                    </div>
                                </div>
                            </dd>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </dl>
    </div>
    <hr class="border border-3">
    <div class="col-md-6">
        <h3>Temp Sensors</h3>
        <dl>
            <div class="row">
                {% for temp in device.temp_sensors %}
                    <div class="col-6">
                        <dt class="fs-5">Temp {{ temp.index }}</dt>
                        <dd>
                            <div class="progress">
                                <div class="progress-bar {{ temp.class }}" role="progressbar" style="width: {{ temp.percentage }}%;" aria-valuenow="{{ temp.temp }}" aria-valuemin="0" aria-valuemax="3.5">
                                    <span class="progress-text fs-6 fw-bolder">{{ temp.temp }}c</span>
                                </div>
                            </div>
                        </dd>
                    </div>
                {% endfor %}
            </div>
        </dl>
    </div>
</div>